<!DOCTYPE html>
<html lang="es">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con FONTAWESOME -->
    <script src="https://kit.fontawesome.com/845b957349.js" crossorigin="anonymous"></script>
    <!-- Enlace con HOJA DE ESTILOS CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/img/m_wine.png">
    <!-- Enlace para icononos "X" y "menu" del menu hamburguesa  -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <!-- Aqui va el TITULO DE LA PAGINA -->
    <title>Vinos atardecer cuyano - Menu</title>

  </head>

<body>
    
  <header class="header">
    <!-- Aqui comienza el HEADER -->
    <section id="Home" class="logo-nav-container">

        <!-- LOGO HEADER -->
        <!-- COLORES: ROJO #E40C0C; NEGRO #291010;  -->
        <a href="../index.html"><img src="../static/img/m_wine.png" alt="Pizza ¡YAPA!"></a>
        
        <!-- MARCA -->
        <h2 hidden>Pizza ¡YAPA!</h2>

        <!-- BARRA DE NAVEGACION -->
        <nav class="navigation">
            <!-- inicio html para menu hambuerguesa -->
            <input class="checkbox" name=" check" type="checkbox">
            <i class="icons burguer fi fi-br-menu-burger"></i>
            <i class="icons cross fi fi-br-cross"></i>
            <!-- fin html para menu hambuerguesa -->
    

            <ul id="nav-bar">
                <!-- <li class="nav-bar"><a href="#Home">Home</a></li> -->
                <!-- <li class="nav-bar"><a href="#Promos">Promos</a></li>
                <li class="nav-bar"><a href="#Opiniones">Opiniones</a></li>
                <li class="nav-bar"><a href="#Horarios">Horarios</a></li>
                <li class="nav-bar"><a href="#Delivery">Delivery</a></li> -->
                <li class="nav-bar"><a class="nav-link" href="../templates/menu.html">Menu</a></li>
                <li class="nav-bar"><a class="nav-link" href="../templates/sucursal.html">Sucursales</a></li>
                <li class="nav-bar"><a class="nav-link" href="../templates/contacto.html">Contacto</a></li>
                <li class="nav-bar"><a class="nav-link" href="../templates/quienessomos.html">Quienes somos</a></li>
                <li class="nav-bar"><a class="nav-link" href="../templates/crud-pizzas.html">-- Back Office --</a></li>
            </ul>
        </nav>
         <br>
    </section>
  </header>

    <main class="wrap">
        <h1 class="tit-principal">~ Nuestras exquisiteces ~</h1>
        <div class="wrap-title-section">
          <h2>Tintos</h2>
        </div>
        <div class="wrap column-2 carta">
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Cabernet Sauvignon</h4>
              <p>Este vino es conocido por su cuerpo completo, sus taninos firmes</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 13.500</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Pinot Noir</h4>
              <p>Otra variedad de origen francés de la región de Borgoña, esta es conocida por su elegancia y sutileza</p>
            </div>
            <div class="precio-plato-carta">
              <span>$15.000</span>
            </div>
          </div> 
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Malbec</h4>
              <p>La uva Malbec es una variedad que encuentra su origen en Francia, específicamente en la región de Cahors</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 13.800</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Syrah</h4>
              <p>Se cultiva desde el Ródano en Francia hasta Australia y California</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 16200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Tempranillo</h4>
              <p>Entre los mejores tipos de vinos tintos españoles</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 14.500</span>
            </div>
          </div>    
        </div>
        <div class="wrap-title-section">
          <h2>Blancos</h2>
        </div>
        <div class="wrap column-2 carta">
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Chardonnay</h4>
              <p>Gran clásico de este tipo de bebidas</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 23.000</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Riesling</h4>
              <p>Se trata de una casta de uva blanca originaria de la región alemana del Rin</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 14.000</span>
            </div>
          </div> 
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Pinot Gris</h4>
              <p>La pinot gris o grauburgunder es una uva de color azul grisáceo </p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 24.200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Pinot blanc</h4>
              <p>Los pinot blanc se encuentran entre los más secos y de cuerpo más redondo en la gran familia</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 13.700</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Sauvignon blanc</h4>
              <p>Es de los vinos blancos de sabor más verde y la uva es una de las más plantadas en el mundo</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 13.600</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Gewürztraminer</h4>
              <p>La gewürztraminer, de color entre rosado y rojizo, está clasificada como una uva para vino blanco que produce uno muy ligero, refrescante y agradablemente condimentado</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 14.000</span>
            </div>
          </div>   
        </div>
        <!-- <div class="wrap-title-section">
          <h2>Empanadas</h2>
        </div>
        <div class="wrap column-2 carta">
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Carne suprema</h4>
              <p>lomo cortado a cuchillo</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Carne</h4>
              <p>carne picada, </p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div> 
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Jamon y queso</h4>
              <p>mozzarella, jamon cocido</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.000</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Cebolla y queso</h4>
              <p>queso cremoso, cebolla blanca</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Roquefort</h4>
              <p>roquefort, queso, jamon, nuez</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Bondiola a la cerveza</h4>
              <p>bondiola, salsa</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Panceta</h4>
              <p>panceta, ciruelas, cebolla</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div>
          <div class="plato-carta">
            <div class="title-plato-carta">
              <h4>Pollo</h4>
              <p>pollo, salasa blanca</p>
            </div>
            <div class="precio-plato-carta">
              <span>$ 1.200</span>
            </div>
          </div>   
        </div> -->
    </main>

    <footer>
      <h3>¡Seguinos en nuestras redes!</h3>
      <div class="box-redes"><a href="https://www.instagram.com" target="_blank"><i style="color: #291010" class="fa-brands fa-instagram fa-xl"></i></a>
      <a href="https://www.facebook.com" target="_blank"><i style="color: #291010" class="fa-brands fa-facebook-f fa-xl"></i></a></div>
      <br>
      <p>© 2024 <strong class="strong-footer">Vinos_AC</strong> Derechos Reservados.</p>
  </footer>
    
</body>

</html>